!!!
%html.no-js{lang: 'en-US'}
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{charset: 'utf-8'}
    %meta{content: 'ie=edge', 'http-equiv' => 'x-ua-compatible'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
    %title #{page.title} - #{site.title}
    %link{href: '/css/foundation.min.css', rel: 'stylesheet'}
    %link{href: '/css/app.css', rel: 'stylesheet'}
    -if page.style
      %link{href: page.style, rel: 'stylesheet'}
    %link{href: '/images/spyro-favicon.gif', rel: 'icon', type: 'image/gif'}
    -if page.description
      %meta{name: 'description', content: page.description}
  %body
    %header
      %nav.top
        %ul
          %li
            %a{href: '/'} Home
          %li
            %a{href: '/contact.html'} Contact
          %li
            %a{href: '/about.html'} About
          %li
            %a{href: '/tools.html'} Tools
          %li
            %a{href: '/blog.html'} Blog
      %hr.no-spacing
    ~ content
    %footer
      %hr/
      .copyright
        %p
          Copyright © by SpyroSoft
        %p.trademark
          SpyroSoft™ is a trademark wholly owned by Bennett Roesch
    %script{src: '/js/vendor/jquery.min.js'}
    %script{src: '/js/vendor/what-input.min.js'}
    %script{src: '/js/foundation.min.js'}
    %script{src: '/js/app.js'}
    -if page.include_utilities
      %script{src: '/js/utilities.js'}
    -if page.script
      %script{src: page.script}