---
title: Basic Mac Security, Maintenance, and Usage
layout: presentation
background: '/images/presentations/two-by-two-thatch.png'
date: 6-7-16
---
%section
  %p
    %strong #{page.title}
  %p
    Bennett Roesch
    %br
    6-7-16
%section
  %p
    This presentation covers:
  %ul
    %li How to create and store good passwords
    %li How to prevent unwanted programs from starting when your computer starts
    %li Browser specific security tips
    %li Useful keyboard shortcuts and settings
%section
  %h1 Every Day
  %p And I'm All Out Of Gum
%section
  %h2 Good Passwords
  %p
    %strong Pronunciation:
    \/go͝od 'pas,wərds/
  %p
    %em ADJECTIVE NOUN
  %p
    %strong Definition:
    The use of the maximum length and randomization allowed.
  %p
    %small
      See the
      %a{:href => "https://spyrosoft.com/blog/good-passwords.html"} Good Passwords
      blog entry for details.
%section
  %p
    Most importantly, use a password manager
    %br
    (
    %a{:href => "http://www.macworld.com/article/2013756/how-to-manage-passwords-with-keychain-access.html"}> Keychain
    \/
    %a{:href => "https://lastpass.com/"}> LastPass
    \/
    %a{:href => "https://www.1password.com/"}> 1Password
    )
    %br
    to generate and store your passwords.
%section
  %p If you forget the password to your password manager, all of your passwords are lost forever. (That's a good thing.) All you have to do is reset them.
%section
  %p Which brings me to my next point. All of your passwords are only as strong as your email password. Make a strong password for your email.
%section
  %p
    For creating passwords that are both strong and easy to remember, use this strategy:
    %br
    %a{href: 'https://xkcd.com/936/'} XKCD Password Strength
  %p
    Once you have one draw a picture of it and put it somewhere to help you remember it.
%section
  %p When using Keychain, create new keychains with a password different from your login password for extra security.
%section
  %p
    When sharing passwords with other people have them sign up for
    %a{href: "https://lastpass.com/"} LastPass
    (It's Free!).
%section
  %h4 Updates
  %p A great deal of the time updates ship with security patches. Keep your computer up to date.
  %p Update Java and Flash through System Preferences - do not click on links in your browser which prompt you to do so.
%section
  %h4 Computer Viruses
  %p Contrary to popular opinion, Mac computers are not invulnerable. The common term you will hear is "virus" but usually this is actually referring to "malware".
%section
  %p
    %strong Definitions:
  %ul
    %li
      %strong Virus:
      Code that replicates by copying itself to other computers.
    %li
      %strong Trojan:
      Software designed to be installed by convincing people to type in admin credentials.
    %li
      %strong Malware:
      Software designed for malicious purposes.
    %li
      %strong Adware:
      Software which makes ads appear where they shouldn't.
%section
  %p Never type in your administrator password unless you are intentionally going out of your way to install new or update software.
%section
  %p
    To weed out the small fry install
    = succeed '.' do
      %a{href: 'https://www.malwarebytes.org/'} Malwarebytes
%section
  %h4 Backups
  %p There are two types of people:
  %ol
    %li Those who have lost data.
    %li Those who will.
%section
  %p Time Machine is easy and awesome. Turn on Time Machine, hook up an external drive, and your computer will prompt you to convert it to a Time Machine drive.
  %p It is worth it to take the time to add directories you do not want backed up such as Downloads and Applications.
%section
  %p
    What if your house burns down and both your backup and original are destroyed at the same time? All of your data is gone forever.
  %p
    Enter Cloud Backup with 
    = succeed '.' do
      %a{href: 'https://www.sosonlinebackup.com/pricing-features/'} SOS
%section
  %h4 Login Items
  %p System Preferences &gt; User Accounts &gt; Your User &gt; Login Items
  %p Select the items which should not be booting with your computer then click the Minus button to remove them.
%section#keyboard-shortcuts-1
  %h4 Keyboard Shortcuts
  %ul
    %li
      %strong Command C
      \: Copy
    %li
      %strong Command V
      \: Paste
    %li
      %strong Command Z
      \: Undo
    %li
      %strong Command Shift Z
      \: Redo
    %li
      %strong Command Space
      \: Spotlight
%section#keyboard-shortcuts-2
  %h4 Keyboard Shortcuts
  %ul
    %li
      %strong Command Tab
      \: Cycle through Applications
      %br
      (Hold down Command and continue to tap tab to cycle.)
    %li
      %strong Command Shift Tab
      \: Cycle through Applications in reverse
    %li
      %strong Command `
      \: Cycle through windows in the current Application
      %br
      (This is called tick and is below the escape key.)
    %li
      %strong Command Shift `
      \: Cycle through windows in the current Application in reverse
%section
  %h1 Yellow Belt
  %p Whoa
%section
  %p
    %strong Key Repeat Rate
  %p System Preferences &gt; Keyboard
  %p Move the Repeat Rate &amp; Repeat Delay sliders all the way to the right
%section
  %p
    %strong TextEdit Autocompletion
  %p TextEdit &gt; Preferences &gt; Turn off all "helpful" autocompletion
%section
  %h4 Browser Specific Tips And Tricks
  %p
    %strong Firefox
  %p Settings &gt; Add-ons &gt; Plugins &gt; Check Your Plugins
%section
  %h5 Browser Keyboard Shortcuts
  %ul
    %li
      %strong Command L
      \: Select the URL
    %li
      %strong Command Shift R
      \: Clear the cache for this page and reload
    %li
      %strong Command Shift T
      \: Open most recently closed tab
%section
  %h4 Keyboard Shortcuts
  %ul
    %li
      %strong System Preferences &gt; Keyboard &gt; Shortcuts
      \: View and modify global keyboard shortcuts
    %li
      %strong Command W
      \: Close the current window
    %li
      %strong Command Option Escape
      \: Force Quit Applications dialog
    %li
      %strong Command Comma
      \: Open Preferences for the current Application
    %li
      %strong Alt Poweroff
      \: Shut down immediately
    %li
      %strong Option Delete
      \: Delete Full Word (forward or backward)
%section
  %h4 Keyboard Shortcuts
  %p
    %strong Function Key +
  %ul
    %li
      %strong Delete
      \: Delete forwards
    %li
      %strong Up
      \: Page Up
    %li
      %strong Down
      \: Page Down
    %li
      %strong Left
      \: Home
    %li
      %strong Right
      \: End
%section
  %h4 Mouse Selection
  %ul
    %li
      %strong Double Click
      \: Highlight Word
    %li
      %strong Triple Click
      \: Highlight Sentence including Newline
    %li
      %strong Double Click Drag
      \: Highlight whole words
    %li
      %strong Click, Shift Click
      \: Highlight everything in a range without clicking and dragging
%section
  %h3 Hard Core Nerd
  %p I Just Went There O_O
%section
  %h4 Turn Off Startup Programs
  %p Open a new Finder window.
  %p
    Create a directory called:
    %br
    delete-me-after-[one month from now]
  %p For example: delete-me-after-7-6-16. Create two directories in here named "root" and "user".
%section
  %h4 Turn Off Startup Programs
  %p Open another Finder window.
  %p Finder &gt; Go &gt; Go To Folder (Command Shift G)
  %p We are looking for directories called LaunchAgents, LaunchDaemons and StartupItems. They are located in:
  %ul
    %li ~/Library/
    %li /Library/
  %p Locate them one by one and copy each into the corresponding delete-me directory.
%section
  %h4 Turn Off Startup Programs
  %p Those directories again: LaunchAgents, LaunchDaemons and StartupItems in ~/Library/ and /Library/.
  %p Now visit each one and delete everything in them which does not have the word "License" in the file name. Especially make sure to delete all Adobe files - they are memory and cpu hogs.
%section
  %h4 Keyboard Shortcuts
  %ul
    %li Underlined letters on buttons while holding Alt
    %li
      %strong Command Shift Option V
      \: Paste with no formatting
    %li
      %strong Alt Green Button
      \: Maximize Window rather than Full Screen
    %li
      %strong Command + Arrow Keys
      \: Navigate to the Beginning or the End of the current line or document
    %li
      %strong Alt + Arrow Keys
      \: Navigate forward or backward words and paragraphs
%section
  %h4 Keyboard Shortcuts
  %ul
    %li
      %strong Ctrl A
      \: Navigate to the beginning of the sentence
    %li
      %strong Ctrl E
      \: Navigate to the end of the sentence
    %li
      %strong Ctrl K
      \: Delete from cursor to the end of the sentence and place the contents on a secret separate clipboard
    %li
      %strong Ctrl Y
      \: Paste from the secret separate clipboard at the cursor's position
%section
  %h1 Fin
  %p
    %a{href: 'https://www.youtube.com/watch?v=_p52QJi-Ydo'} *Clap* And You're Done