---
title: Crypto For Everyone
layout: presentation
style: /css/presentations/crypto.css
background: '/images/presentations/zeros-and-ones.png'
date: 6-7-16
---
%section
  %h2 #{page.title}
  %p
    \!!!!DATE HERE!!!!
%section
  %h2 Contents
  %ul
    %li
      %a{href: '#/REPLACE-ME'} Why Cryptography Matters
      \- !!!!!!!!
    %li
      %a{href: '#/REPLACE-ME'} Signal
      \- Raymond Colebaugh
    %li
      %a{href: '#/REPLACE-ME'} Bitcoin
      \- Sean Gilligan
    %li
      %a{href: '#/REPLACE-ME'} Let's Encrypt
      \- Bennett Roesch
    %li
      %a{href: '#/REPLACE-ME'} Tor
      \- Raymond Colebaugh
    %li
      %a{href: '#/REPLACE-ME'} PGP
      \- Bennett Roesch
    %li
      %a{href: '#/REPLACE-ME'} Enigmail
      \- Bennett Roesch
%section
  %section
    %h2 Why Cryptography Matters
  %section
    
