---
title: Santa Cruz CryptoParty
layout: presentation
style: /css/presentations/crypto.css
background: /images/presentations/zeros-and-ones.png
date: 6-7-16
---
%section
  %h2 #{page.title}
  %p
    3/25/17
%section
  %ul
    %li
      %a{href: '#/REPLACE-ME'} Why Cryptography Matters
      \- Bennett Roesch
    %li
      %a{href: '#/REPLACE-ME'} Basics of Crypto
      \- Peter Czupil
    %li
      %a{href: '#/REPLACE-ME'} Real World Problems
      \- Sean Gilligan
    %li
      %a{href: '#/REPLACE-ME'} Signal
      \- Raymond Colebaugh
    %li
      %a{href: '#/REPLACE-ME'} Tor &amp; I2P
      \- Raymond Colebaugh
    %li
      %a{href: '#/REPLACE-ME'} Bitcoin &amp; Namecoin
      \- Sean Gilligan
    %li
      %a{href: '#/REPLACE-ME'} PGP
      \- Bennett Roesch
    %li
      %a{href: '#/REPLACE-ME'} HTTPS Everywhere, TLS, &amp; Let's Encrypt
      \- Peter Czupil
    %li
      %a{href: '#/REPLACE-ME'} KeePassX, LastPass, and YubiKey
      \- Bennett Roesch
    %li
      %a{href: '#/REPLACE-ME'} OTR &amp; OMEMO
      \- Raymond Colebaugh
    %li
      %a{href: '#/REPLACE-ME'} Quantum Computing and Crypto
      \- Ian Gudger
%section
  %section
    %h2 Why Cryptography Matters
  %section
    %h2 Privacy
    %h2 Security
    %h2 Identity
  %section
    %h3 "If you have nothing to hide, why be afraid?"
    %p Literally invented by nazis
  %section
    %h2 Crypto is everywhere
    %ul
      %li Banking
      %li Secure browsing
      %li The credit card chip
      %li Cell phone transmissions
      %li Password protected wifi
%section
  %section
    %h2 Basics of Crypto
  %section
    %p stuff
%section
  %section
    %h2 Real World Problems
  %section
    %h2 Private Messaging
    %ul
      %li Signal
      %li Enigmail
      %li OTR
      %li OMEMO
  %section
    %h2 Web Security and Privacy
    %ul
      %li Tor
      %li I2P
      %li HTTPS Everywhere
      %li Password Managers
      %li U2F
  %section
    %h2 Threat Assessment
%section
  %section
    %h2 PGP
    %p (Pretty Good Privacy)
  %section
    %h2 Text messages
    %h2 Emails
    %h2 Files
  %section
    %h2 Enigmail
    %div
      %img{src: '/images/presentations/enigmail-encrypted-message.png'}
  %section
    %h2 Android OpenKeychain
    %div
      %img{src: '/images/presentations/openkeychain.png'}
  %section
    %h2 Web of Trust
%section
  %section
    %h2 KeePassX, LastPass, and YubiKey
  %section
    %h2 Password Managers
    %ul
      %li Long Random Passwords
      %li Password Diversity
      %li Fights Key Loggers
      %li How Passwords Are Compromised
      %li Sending Passwords Via Email
      %li Good Keychain Password = Passphrase
  %section
    %h2 YubiKey
    %div
      %img{src: '/images/presentations/yubikey.png'}
  %section
    %ul
      %li Onetime Passwords
      %li Public Key Encryption
