---
title: About
layout: standard
---
%h1 #{page.title}
%hr
%ul
  %li
    %em.bold
      Freelancer : 2016 - Present
    %br
    Freelance full stack website and web application development and maintenance
  %li
    %em.bold
      Team Kaya : 2015 - 2016
    %br
    Shopify Developer
  %li
    %em.bold
      Launch Brigade : 2010 - 2014
    %br
    Web programmer specialist in WordPress, Magento and Kohana
  %li
    %em.bold
      ROP Class Instructor : 2013 - 2014
    %br
    Basic HTML, CSS, and PHP instructor for students in Santa Cruz county
  %li
    %em.bold
      Santa Cruz App Dev : 2010
    %br
    Advanced PHP instructor for two internship sessions
  %li
    %em.bold
      iKorb : 2008 - 2011
    %br
    Web Production Specialist
%hr
.row
  .columns.large-6
    %p In short, I make websites.
    %p My ideal website projects are where:
    %ul
      %li I am able to communicate directly with the person in charge of maintaining the content or using the functionality of the website.
      %li I work with the designers I know and trust.
      %li It is understood that I will always do my best to provide solutions which ultimately are best for the client and the user.
      %li There is trust in my expertise and a team effort is truly made in making the right choice if a conflict of direction arises.
    %p My profession began in 2008 as a designer using Photoshop and Illustrator. I have since moved from the top to the bottom of the developer stack.
    %p My greatest strength is in creating interactive web applications from the ground up with a focus on intelligent user interfaces. An intelligent user interface can tell when there is only one thing that the user would want under the current conditions and makes it happen. An intelligent user interface also has the most common user actions organized in the most obvious places.
    %p I have built many ecommerce websites. In particular I am familiar with Shopify, Stripe Checkout, and Magento.
    %p I live in sunny Santa Cruz, California. My expertise is in Golang, Zurb Foundation, SASS, Shell Scripting, Steel Bank Common Lisp, SVG, SQL, XUL, Processing, AppleScript, C, PHP, and Java.
    %p
      I am a member of the
      %a{:href => "http://nextspace.us/"} NextSpace Santa Cruz
      and
      %a{:href => "http://santacruzgeeks.com/"} Santa Cruz Geeks
      communities.
  .columns.large-6
    %p I fit best in projects where quality is the ultimate goal. I am a firm believer in the Clean Code movement.
    %p I specialize in website security. In particular, for custom sites I use the following techniques:
    %ul
      %li Removing all Linux user passwords (keys only).
      %li Dropping all packets other than http and https.
      %li
        Using
        %a{:href => "https://moxie.org/software/knockknock/"} KnockKnock
        by Moxie Marlinspike to port knock open the ssh port for my ip address for 30 seconds and close it again behind me.
      %li Installing the absolute minimum amount of software possible.
      %li Using HAProxy, Golang and PostgreSQL to protect against attacks on software such as Apache, PHP and MySQL.
