---
title: Home
layout: general
---
%section.row.about
  .columns
    %p.text-center
      %img{alt: 'Bennett', src: 'images/bennett.jpg'}
    %p
      I am a programmer in Santa Cruz, California. This site is a central place where I can share software with the world.
    %p
      My expertise is in HTML, JavaScript, Zurb Foundation, Go, Steel Bank Common Lisp, Shell Scripting, SVG, SQL, JSON, AJAX, XML, XUL, Processing, AppleScript, C, PHP, and Java.
    %p
      I excel at creating Ecommerce websites and interactive web applications. My calling is in designing applications with intelligent user interfaces. This means that when there is only one thing that the user could possibly want under the current conditions, it happens automatically.
    %p
      I am a member of the
      %a{href: 'http://nextspace.us/'} NextSpace Santa Cruz
      community and
      = succeed '.' do
        %a{href: 'http://santacruzgeeks.com/'} Santa Cruz Geeks
    %p
      I fit best in projects where quality is the ultimate goal. It's hard for me to walk away from a project that hasn't been made perfect.