---
title: About
layout: standard
---
%h1 #{page.title}
%hr
.row
  .columns.large-6
    %p My profession began in 2008 as a designer using Photoshop and Illustrator. I have since moved from the top to the bottom of the developer stack. These days my greatest strength is in creating interactive web applications from the ground up with a focus on intelligent user interfaces. This means that when there is only one thing that the user could possibly want under a certain set of conditions it happens automatically. Additionally the user experience is optimized by organizing the most common actions in the most obvious places.
    %p I live in sunny Santa Cruz, California. My expertise is in Golang, Zurb Foundation, SASS, Shell Scripting, Steel Bank Common Lisp, SVG, SQL, XUL, Processing, AppleScript, C, PHP, and Java.
    %p I also gravitate towards ecommerce websites. My experience varies from Shopify to Stripe Checkout to Magento.
    %p
      I am a member of the
      %a{:href => "http://nextspace.us/"} NextSpace Santa Cruz
      community and
      %a{:href => "http://santacruzgeeks.com/"} Santa Cruz Geeks
  .columns.large-6
    %p I fit best in projects where quality is the ultimate goal. I am a firm believer in the Clean Code movement.
    %p I specialize in website security. In particular, for custom sites I use the following techniques:
    %ul
      %li Setting up Linux servers with no user passwords, keys only.
      %li Dropping all packets other than http and https.
      %li
        Using
        %a{:href => "https://moxie.org/software/knockknock/"} KnockKnock
        by Moxie Marlinspike to port knock open the ssh port for my ip address for 30 seconds and close again behind me.
      %li Installing the absolute minimum amount of software possible.
      %li Using HAProxy, Golang and PostgreSQL to protect against attacks on software such as Apache, PHP and MySQL.
