---
title: Blog
layout: full-width
---
%section.row
  .columns
    %h2 Blog
    %hr
  .columns
    %h3 For Everyone
    %ul
      %li
        %a{href: '/blog/basic-mac-security-maintenance-and-usage.html'}
          Basic Mac Security, Maintenance, and Usage
      %li
        %a{href: '/blog/good-passwords.html'}
          Good Passwords
      %li
        %a{href: '/blog/website-security.html'}
          Website Security
      %li
        %a{href: '/blog/computer-keyboards.html'}
          20% Of Your Fingers Are Dedicated To The Space Bar
    %h3 For Techies
    %ul
      %li
        %a{href: '/blog/why-to-switch-from-bash-to-zsh.html'}
          Why To Switch From Bash To Zsh
      %li
        %a{href: '/blog/text-editors.html'}
          One Editor To Rule Them All
      %li
        %a{href: '/blog/learning-code.html'}
          Learning Code
      %li
        %a{href: '/blog/three-delimiter-characters.html'}
          Three Delimiter Characters
      %li
        %a{href: '/blog/tabs-vs-spaces.html'}
          Tabs Vs Spaces
      %li
        %a{href: '/blog/how-to-transfer-email-to-a-new-host.html'}
          How To Transfer Email To A New Host
      %li
        %a{href: '/blog/how-to-configure-printers-in-linux.html'}
          How to Configure Printers in Linux
      %li
        %a{href: '/blog/running-windows-under-linux-in-virtualbox.html'}
          Running Windows Under Linux in VirtualBox
      %li
        %a{href: '/blog/how-to-set-up-a-common-lisp-development-environment.html'}
          How To Set Up A Common Lisp Development Environment
      %li
        %a{href: '/blog/common-lisp.html'}
          Common Lisp