---
title: Blog
layout: general
---
%section.row.columns
  %h2 Blog
  %hr
  %ul.bold
    %li
      %h3
        %a{href: '/blog/why-to-switch-from-bash-to-zsh.html'}
          Why To Switch From Bash To Zsh
    %li
      %h3
        %a{href: '/blog/text-editors.html'}
          The One Editor To Rule Them All