---
title: Contact
layout: standard
script: /js/form-ajax.js
---
%h1 #{page.title}
%hr
%h4
  %a{href: 'https://github.com/spyrosoft'} GitHub
  \-
  %a{href: 'https://www.linkedin.com/in/bennett-roesch-26b7a135'} LinkedIn
  \-
  %a{href: 'https://twitter.com/spyrosoft'} Twitter
  \-
  %a{href: 'https://angel.co/bennett-roesch'} AngelList
  \-
  %a{href: 'http://devpost.com/spyrosoft'} Devpost
%hr
%form.ajax{action: '/contact-ajax/', method: 'post'}
  .row
    .columns.medium-6.large-6
      %label
        Name
        %input{name: 'name', type: 'text'}
  .row
    .columns.medium-6.large-6
      %label
        Email
        %input{name: 'email', type: 'email'}
  .row
    .columns
      %label
        Message
        %sup (Required)
        %textarea{cols: '40', name: 'message', rows: '10', required: true}
  .row
    .columns.text-center
      %button.button{type: 'submit'} Submit
  :javascript
    document.getElementsByName('name')[0].focus();
    var ajax_form_success_message = 'Thank you! I\'ll respond to you soon. If you are interested, please check out some blog articles.';
    var ajax_form_redirect_url = '/blog.html';