---
title: Home
layout: general
---
%section.row.portfolio
  .columns
    %h3 Portfolio
    %hr
    .row
      .columns.medium-6.large-6
        %h4
          %a{href: 'https://firefractal.com/gallery.html'} Fire Fractal
        %div.image
          %a{href: 'https://firefractal.com/gallery.html'}
            %img{alt: 'HTML5 JavaScript Fractal Exploration Tool', src: '/images/fractal-exploration-tool.png'}
        %p
          A fractal exploration tool useful for generating (awesome) desktop wallpapers.
      .columns.medium-6.large-6
        %h4
          %a{href: 'http://hexcuff.com/'} Hex Cuff
        %div.image
          %a{href: 'http://hexcuff.com/'}
            %img{alt: 'Hex Cuff Logo', src: '/images/hex-cuff-logo.svg'}
        %p
          Ear cuff jewelry created from real hex nuts ecommerce site using Stripe Checkout.
    .row
      .columns.medium-6.large-6
        %h4
          %a{href: 'https://www.subverseindustries.com/'} Subverse Industries
        %div.image
          %a{href: 'https://www.subverseindustries.com/'}
            %img{alt: 'Subverse Industries Logo', src: '/images/subverse-industries.svg'}
        %p
          Front End Development - a Foundation 5 template using Shopify and Liquid.
      .columns.medium-6.large-6
        %h4
          %a{href: 'http://chaosofoperations.com/'} Chaos Of Operations
        %div.image
          %a{href: 'http://chaosofoperations.com/'}
            %img{alt: 'Chaos of Operations Logo', src: '/images/chaos-of-operations-logo.jpg'}
        %p
          A board game created by my friend Cody ported to the web.
    .row
      .columns.medium-6.large-6
        %h4
          %a{href: 'http://groundupmath.com/'} Ground Up Math
        %div.image
          %a{href: 'http://groundupmath.com/'}
            %img{alt: 'Ground Up Math Logo', src: '/images/ground-up-math-logo.svg'}
        %p
          A place to hone your arithmetic skills using a flashcard technique.
      .columns.medium-6.large-6
        %h4
          %a{href: 'http://brailletutorial.com/'} Braille Tutorial
        %div.image
          %a{href: 'http://brailletutorial.com/'}
            %img{alt: 'Braille Tutorial Logo', src: '/images/braille-tutorial.svg'}
        %p
          An online interactive Braille tutorial available for free forever.
%section.row.experience
  .columns
    %h3 Experience
    %hr
    .row.columns
      %h4 Occupations
      %ul
        %li
          %em.bold
            Freelancer : 2016 - Present
          %br
          Hired hand for website and web application development and maintenance
        %li
          %em.bold
            Team Kaya : 2015 - 2016
          %br
          Shopify Developer
        %li
          %em.bold
            Launch Brigade : 2010 - 2014
          %br
          Web programmer specialist in WordPress, Magento and Kohana
        %li
          %em.bold
            ROP Class Instructor : 2013 - 2014
          %br
          Basic HTML, CSS, and PHP instructor for students in Santa Cruz county
        %li
          %em.bold
            Santa Cruz App Dev : 2010
          %br
          Advanced PHP instructor for two internship sessions
        %li
          %em.bold
            iKorb : 2008 - 2011
          %br
          Web Production Specialist
      %hr
      %h4 GitHub
      %ul
        %li
          %a{href: 'https://github.com/spyrosoft/dotfiles'} Linux Dotfiles
          %br
          Especially .zshrc and .emacs
        %li
          %a{href: 'https://github.com/spyrosoft/go-testing-grounds'} Go Testing Grounds
          %br
          Useful Go snippets and applications
        %li
          %a{href: 'https://github.com/spyrosoft/common-lisp-testing-grounds'} Common Lisp Testing Grounds
          %br
          Useful Common Lisp snippets
        %li
          %a{href: 'https://github.com/spyrosoft/weighted-random-numbers'} Weighted Random Numbers
          %br
          Weighted random number curves
        %li
          %a{href: 'https://github.com/spyrosoft/PHP-Terminal-Emulator', target: '_blank'} PHP Shell Emulator
          %br
          For when you have FTP access but not shell access
      %hr
      %h4 Browser Addons/Extensions
      .row
        .columns.large-6.medium-6
          %ul
            %li
              %a{href: 'https://chrome.google.com/webstore/detail/auto-cursor/gjaabiillfmidpcknchjeiadoppocmaf'} Auto Cursor
              %br
              Chrome
            %li
              %a{href: 'https://chrome.google.com/webstore/detail/focus-follows-mouse/lnengjbcmhhfcjpejphodipincbcffom'} Focus Follows Mouse
              %br
              Chrome
            %li
              %a{href: 'https://addons.mozilla.org/en-US/firefox/addon/auto-cursor/'} Auto Cursor
              %br
              Firefox
        .columns.large-6.medium-6
          %ul
            %li
              %a{href: 'https://addons.mozilla.org/en-US/firefox/addon/focus-follows-mouse/'} Focus Follows Mouse
              %br
              Firefox
            %li
              %a{href: 'https://addons.mozilla.org/en-US/firefox/addon/copy-on-select/'} Copy On Select
              %br
              Firefox
      %hr
%section.row
  .columns
    %h3 The Classic Law of Having Cake and Eating It Too
    %hr
    %p
      A humorous way of looking at how projects tend to work in reality.
    .text-center
      %img{src: '/images/good-fast-cheap.svg'}