---
title: Payment Received
layout: standard
---
%h1 #{page.title}
%hr
.row.columns
  %h4 Thank You!
  %p Have a lovely day.
  %p
    If you would like to, please take a look at the
    %a{href: '/blog.html'} Blog
    for some fun information.