---
title: Portfolio
layout: standard
---
%h1 #{page.title}
%hr
.portfolio
  %p In general the work I've done since 2008 has been WordPress and Magento maintenance, security, plugin configuration (making plugins work with each other), custom plugin development, theme development and front end development.
  %p The work I am most interested in now is building websites with functionality that is difficult or impossible to find out-of-the-box solutions for.
  %hr.large-margin-top-bottom
  %h2
    %a{href: 'https://relatinggym.org/'} Relating Gym
  %p For my friend and mentor's business, The Relating Gym, I developed this website solo including page hierarchy strategy, content migration, anti-intrusion security, and a touch of design &amp; search engine optimization.
  %p.text-center.large-margin-top-bottom
    %a{href: 'https://relatinggym.org/'}
      %img{alt: 'Relating Gym Screenshot', src: '/images/screenshots/relatinggym.org.png'}
  %hr.large-margin-top-bottom
  %h2
    %a{href: 'https://lizamonroy.com/'} Liza Monroy
  %p Working with my close friend and designer business partner, I customized a WordPress theme in the essence of her designs.
  %p.text-center.large-margin-top-bottom
    %a{href: 'https://lizamonroy.com/'}
      %img{alt: 'Liza Monroy Screenshot', src: '/images/screenshots/liza-monroy.png'}
  %hr.large-margin-top-bottom
  %h2
    %a{href: 'https://www.subverseindustries.com/'} Subverse Industries
  %p Working with a team including a designer and social media marketing/copywriter, we built a Shopify ecommerce website. The fine folks at Subverse Industries make an array of leather accessories. In particular some of the finest hats in the world.
  %p.text-center.large-margin-top-bottom
    %a{href: 'https://www.subverseindustries.com/'}
      %img{alt: 'Subverse Industries Screenshot', src: '/images/screenshots/subverse-industries.png'}
  %hr.large-margin-top-bottom
  %h2
    %a{href: 'https://firefractal.com/gallery.html'} Fire Fractal
  %p Fire Fractal allows anyone to create beautiful fractal computer artwork in addition to the option of purchasing physical copies in the form of high quality posters.
  %p It is a fully functional ecommerce website employing Stripe Checkout.
  %p This project posed many interesting technical challenges.
  %button.button{onclick: '$("#fire-fractal-technical-details").show();$(this).hide()'} Show Technical Details
  #fire-fractal-technical-details{style: 'display: none;'}
    %p Finding a way for browsers to render images quickly was very complicated. The first version printed each pixel as it was generated. This ultimately took more time than just printing the entire thing at once. An attempt was made to use C on the server side, however it ended up being even slower because of network latency. Additionally shifting the computation load to the server makes it very difficult to scale. The use of Web Workers cut the rendering time down massively.
    %p There is no good way to precompute the data. Each frame is rendered in real time.
  %p.text-center.large-margin-top-bottom
    %a{href: 'https://firefractal.com/gallery.html'}
      %img{alt: 'HTML5 JavaScript Fractal Exploration Tool', src: '/images/screenshots/fire-fractal.png'}
  %hr
  %h2
    %a{href: 'http://hexcuff.com/'} Hex Cuff
  %p An ecommerce store which sells ear cuff jewelry created from real hex nuts.
  %p My role in particular is to make sure credit cards are accepted securely via Stripe Checkout.
  %p.text-center.large-margin-top-bottom
    %a{href: 'http://hexcuff.com/'}
      %img{alt: 'Hex Cuff Logo', src: '/images/screenshots/hex-cuff.png'}
  %hr
  %h2
    %a{href: 'http://chaosofoperations.com/'} Chaos Of Operations
  %p My friend Cody created a board game for his Games and Playable Media master's degree. We worked together to port it to the web. The goal of the game is to have a higher number than your opponent at the end of the game.
  %p.text-center.large-margin-top-bottom
    %a{href: 'http://chaosofoperations.com/'}
      %img{alt: 'Chaos of Operations Logo', src: '/images/screenshots/chaos-of-operations.png'}
  %hr
  %h2
    %a{href: 'http://groundupmath.com/'} Ground Up Math
  %p A place to hone your arithmetic skills using a flashcard technique. I created this for my neice over three days or so.
  %p.text-center.large-margin-top-bottom
    %a{href: 'http://groundupmath.com/'}
      %img{alt: 'Ground Up Math Logo', src: '/images/screenshots/ground-up-math.png'}
  %hr
  %h2
    %a{href: 'http://brailletutorial.com/'} Braille Tutorial
  %p An online interactive Braille tutorial.
  %p.text-center.large-margin-top-bottom
    %a{href: 'http://brailletutorial.com/'}
      %img{alt: 'Braille Tutorial Logo', src: '/images/screenshots/braille-tutorial.png'}
  %hr
%h2 GitHub
%ul
  %li
    %a{href: 'https://github.com/spyrosoft/dotfiles'} Linux Dotfiles
    %br
    Especially .zshrc and .emacs
  %li
    %a{href: 'https://github.com/spyrosoft/go-testing-grounds'} Go Testing Grounds
    %br
    Useful Go snippets and applications
  %li
    %a{href: 'https://github.com/spyrosoft/common-lisp-testing-grounds'} Common Lisp Testing Grounds
    %br
    Useful Common Lisp snippets
  %li
    %a{href: 'https://github.com/spyrosoft/weighted-random-numbers'} Weighted Random Numbers
    %br
    Weighted random number curves
  %li
    %a{href: 'https://github.com/spyrosoft/PHP-Terminal-Emulator', target: '_blank'} PHP Shell Emulator
    %br
    For when you have FTP access but not shell access
%hr
%h2 Browser Addons/Extensions
.row
  .columns.large-6.medium-6
    %ul
      %li
        %a{href: 'https://chrome.google.com/webstore/detail/auto-cursor/gjaabiillfmidpcknchjeiadoppocmaf'} Auto Cursor
        %br
        Chrome
      %li
        %a{href: 'https://chrome.google.com/webstore/detail/focus-follows-mouse/lnengjbcmhhfcjpejphodipincbcffom'} Focus Follows Mouse
        %br
        Chrome
      %li
        %a{href: 'https://addons.mozilla.org/en-US/firefox/addon/auto-cursor/'} Auto Cursor
        %br
        Firefox
  .columns.large-6.medium-6
    %ul
      %li
        %a{href: 'https://addons.mozilla.org/en-US/firefox/addon/focus-follows-mouse/'} Focus Follows Mouse
        %br
        Firefox
      %li
        %a{href: 'https://addons.mozilla.org/en-US/firefox/addon/copy-on-select/'} Copy On Select
        %br
        Firefox