---
title: Send Payment
layout: standard
include_utilities: true
script: https://checkout.stripe.com/checkout.js
script2: /js/send-payment.js
---
%h1 #{page.title}
%hr
.row.send-payment
  .columns.step.payment-amount
    %label
      .payment-amount-error.error
      %input.large#payment-amount{type: "text", placeholder: "$1,000,000.00"}
    %button.button.large.next-step.send-payment
      Send Payment
  :javascript
    document.getElementById('payment-amount').focus();