---
title: Tools
layout: standard
---
%h1 #{page.title}
%hr
.row
  .columns.medium-6.large-6
    %h4
      %a{href: '/tools/binary-unicode-converter.html'}
        Binary ‹-› Unicode Converter
    %p Look up the binary representation of a string of characters or vice versa.
    %h4
      %a{href: '/tools/unicode-lookup.html'}
        Unicode Converter and Browser
    %p Lookup the decimal values of Unicode characters or vice versa in addition to browsing Unicode characters at your leisure.
    %h4
      %a{href: '/tools/one-time-pad.html'}
        Online One-Time Pad Encryption And Decryption
    %p Create encrypted messages and decrypt them again using one-time pads.
    %h4
      %a{href: '/tools/manual-cipher-decoder.html'}
        Manual Cipher Decoder
    %p Decode one to one character ciphers with ease including but not h4mited to Caeser Ciphers.
    %h4
      %a{href: '/tools/send-form-data-to-any-url.html'}
        Send Form Data To Any URL
    %p
      Test forms or REST clients. Also useful as a whitehat utility for things like SQL injection, etc.
    %h4
      %a{href: '/tools/morse-code-translator.html'}
        Morse Code Translator
    %p Translate to and from Morse Code.
    %h4
      %a{href: '/tools/base64-data-converter.html'}
        Base64 ‹-› Data Converter
    %p Decode blocks of base64 encoded data or encode data into its base64 equivalent.
    %h4
      %a{href: '/tools/huffman-encoder.html'}
        Huffman Encoder
    %p A rewrite in JavaScript of a C assignment for 12B Accelerated Intro to Programming with Professor Mackey at UCSC. It uses a self-balancing binary search tree and a priority queue. This is some seriously beautiful computer science.
    %h4
      %a{href: '/tools/compare-qwerty-to-dvorak-to-colemak.html'}
        Qwerty Vs Dvorak Vs Colemak
    %p Type or paste in text to see quantifiable differences between these keyboard layouts.
    %h4
      %a{href: '/tools/qwerty-to-dvorak-translator.html'}
        Translate Qwerty to Dvorak and Back
    %p Convert text typed by a user of a different keyboard layout into human readable text or vice versa.
  .columns.medium-6.large-6
    %h4
      %a{href: '/tools/flip-qwerty.html'}
        Flip-Qwerty
    %p If you lose access to one hand temporarly, maybe like I did by breaking it, this utility will allow you to type with one hand without learning a new layout.
    %h4
      %a{href: '/tools/flip-dvorak.html'}
        Flip-Dvorak
    %p Same as Flip Qwerty except it uses the Dvorak layout.
    %h4
      %a{href: '/tools/common-lisp-repl.html'}
        Common Lisp REPL
    %p
      You read that correctly. An in browser Common Lisp REPL created by
      %a{href: 'https://github.com/davazp/jscl'} davazp
      the great.
    %h4
      %a{href: '/tools/generate-clementine-playlists.html'}
        Generate Clementine Playlists
    %p Clementine's SoundCloud search feature misses specific user tracks when using the search feature. Use this to generate playlists of specifically user tracks.
    %h4
      %a{href: '/tools/javascript-key-code-lookup.html'}
        JavaScript Key Code Lookup
    %p Look up what the keyCode property of key events are in JavaScript.
    %h4
      %a{href: '/tools/party-letters.html'}
        Party Letters
    %p Ŵóơóóǃ Ȉȿ ĩţ Ƿăŕťƴ Łȩţŧȅȓ Ƭìϻèʔ Ȉ †ĥïńķ íť'ș Рǎřťɏ Ƚéŧʈęɍ Τɨϻȅǃ
    %h4
      %a{href: '/tools/css-color-display.html'}
        CSS Color Display
    %p A quick and easy utility to try out different css colors.
    %h4
      %a{href: '/tools/hex-to-rgb-and-back.html'}
        Hex To RGB And Back
    %p Convert long hex numbers to rgb and back again.
    %h4
      %a{href: '/tools/a-to-z-cipher.html'}
        A to Z Cipher
    %p A simple one to one character cipher which replaces a with z, b with x, c with y, and so on.
    %h4
      %a{href: '/tools/factor-finder.html'}
        Factor Finder
    %p Generate the factors for an integer.
    %h4
      %a{href: '/tools/request-information.html'}
        Server Request Info
    %p Lookup your ip address, etc.
    %h4
      %a{href: '/tools/add-up-your-times.html'}
        Add Up Your Times
    %p Add up how much time has elapsed from plain text time entries.