---
title: Tools
layout: general
---
%section.row.columns
  %h2 Tools
  %hr
  %p
    %a{href: '/tools/binary-unicode-converter.html'}
      Binary ‹-› Unicode Converter
  %p
    %a{href: '/tools/qwerty-to-dvorak-translator.html'}
      Translate Qwerty to Dvorak and Back