---
title: Tools
layout: general
---
%section.row.tools
  .columns
    %h2 Tools
    %hr
  .columns
    %ul
      %li
        %a{href: '/tools/binary-unicode-converter.html'}
          Binary ‹-› Unicode Converter
        %br
        Look up the binary representation of a string of characters or vice versa.
      %li
        %a{href: '/tools/unicode-lookup.html'}
          Unicode Converter and Browser
        %br
        Lookup the decimal values of Unicode characters or vice versa in addition to browsing Unicode characters at your leisure.
      %li
        %a{href: '/tools/manual-cipher-decoder.html'}
          Manual Cipher Decoder
        %br
        Decode one to one character ciphers with ease including but not limited to Caeser Ciphers.
      %li
        %a{href: '/tools/send-form-data-to-any-url.html'}
          Send Form Data To Any URL
        %br
        Test forms or REST clients. Also useful as a whitehat utility for things like SQL injection, etc.
      %li
        %a{href: '/tools/morse-code-translator.html'}
          Morse Code Translator
        %br
        Translate to and from Morse Code.
      %li
        %a{href: '/tools/huffman-encoder.html'}
          Huffman Encoder
        %br
        A rewrite in JavaScript of a C assignment for 12B Accelerated Intro to Programming with Professor Mackey at UCSC. It uses a self-balancing binary search tree and a priority queue. This is some seriously beautiful computer science.
      %li
        %a{href: '/tools/compare-qwerty-to-dvorak-to-colemak.html'}
          Qwerty Vs Dvorak Vs Colemak
        %br
        Type or paste in text to see quantifiable differences between these keyboard layouts.
      %li
        %a{href: '/tools/qwerty-to-dvorak-translator.html'}
          Translate Qwerty to Dvorak and Back
        %br
        Convert text typed by a user of a different keyboard layout into human readable text or vice versa.
      %li
        %a{href: '/tools/flip-qwerty.html'}
          Flip-Qwerty
        %br
        If you lose access to one hand temporarly, maybe like I did by breaking it, this utility will allow you to type with one hand without learning a new layout.
      %li
        %a{href: '/tools/flip-dvorak.html'}
          Flip-Dvorak
        %br
        Same as Flip Qwerty except it uses the Dvorak layout.
      %li
        %a{href: '/tools/generate-clementine-playlists.html'}
          Generate Clementine Playlists
        %br
        Clementine's SoundCloud search feature misses specific user tracks when using the search feature. Use this to generate playlists of specifically user tracks.
      %li
        %a{href: '/tools/javascript-key-code-lookup.html'}
          JavaScript Key Code Lookup
        %br
        Look up what the keyCode property of key events are in JavaScript.
      %li
        %a{href: '/tools/party-letters.html'}
          Party Letters
        %br
        Ŵóơóóǃ Ȉȿ ĩţ Ƿăŕťƴ Łȩţŧȅȓ Ƭìϻèʔ Ȉ †ĥïńķ íť'ș Рǎřťɏ Ƚéŧʈęɍ Τɨϻȅǃ
      %li
        %a{href: '/tools/css-color-display.html'}
          CSS Color Display
        %br
        A quick and easy utility to try out different css colors.
      %li
        %a{href: '/tools/a-to-z-cipher.html'}
          A to Z Cipher
        %br
        A simple one to one character cipher which replaces a with z, b with x, c with y, and so on.
      %li
        %a{href: '/tools/factor-finder.html'}
          Factor Finder
        %br
        Generate the factors for an integer.
      %li
        %a{href: '/tools/request-information.html'}
          Server Request Info
        %br
        Lookup your ip address, etc.