---
title: Tools
layout: general
---
%section.row
  .columns
    %h2 Tools
    %hr
  .columns.large-4.medium-6
    %p
      %a{href: '/tools/binary-unicode-converter.html'}
        Binary ‹-› Unicode Converter
  .columns.large-4.medium-6
    %p
      %a{href: '/tools/unicode-lookup.html'}
        Convert Unicode to Decimal and Back
  .columns.large-4.medium-6
    %p
      %a{href: '/tools/compare-qwerty-to-dvorak-to-colemak.html'}
        Qwerty Vs Dvorak Vs Colemak
  .columns.large-4.medium-6
    %p
      %a{href: '/tools/qwerty-to-dvorak-translator.html'}
        Translate Qwerty to Dvorak and Back
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/manual-cipher-decoder.html'}
        Manual Cipher Decoder
  .columns.large-4.medium-6
    %p
      %a{href: '/tools/morse-code-translator.html'}
        Morse Code Translator
  .columns.large-4.medium-6
    %p
      %a{href: '/tools/factor-finder.html'}
        Factor Finder
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/flip-qwerty.html'}
        Flip-Qwerty
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/flip-dvorak.html'}
        Flip-Dvorak
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/huffman-encoder.html'}
        Huffman Encoder
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/party-letters.html'}
        Party Letters
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/hex-color-display.html'}
        Hex Color Display
  /
    .columns.large-4.medium-6
    %p
      %a{href: '/tools/a-to-z-translator.html'}
        A to Z Translator