---
title: 404 - Page Not Found
layout: full-width
---
%section.row
  .columns.404
    %h2 #{page.title}
    %p
      The page you're looking for can't be found.
    %p
      Maybe it moved. Try finding it via the
      = succeed '.' do
        %a{:href => "/"} homepage