---
title: 500 - Internal Server Error
layout: full-width
---
%section.row
  .columns.500
    %h2 #{page.title}
    %p
      Something has gone wrong on the server side.
    %p
      Try again after a few minutes.
    %p
      Otherwise, if you know Bennett, please let him know.