---
title: Add Up Your Times
layout: full-width
script: /js/tools/add-up-your-times.js
include_utilities: true
---
%section.row
  .columns
    %h2 #{page.title}
    %hr
  .columns
    %label
      Input:
      %textarea#input{rows: '10'}
    %label
      Rate:
      %input#rate{:type => "text"}/
    %h3.text-center
      Total:
      %span#total
