---
title: Base64 Data Converter
layout: standard
script: /js/vendor/sjcl.js
script2: /js/tools/base64-data-converter.js
---
%h2 #{page.title}
%textarea#base64-or-data{rows: 15}
.text-center
  %button.button#encode Encode
  %button.button.no-margin-right#decode Decode