---
title: CSS Color Display
layout: general
script: /js/tools/css-color-display.js
---
%section.row
  .columns
    %h2 #{page.title}
    %hr
  .columns
    %input.text-center{type: 'text', id: 'color'}