---
title: JavaScript Key Code Lookup
layout: full-width
script: /js/tools/javascript-key-code-lookup.js
---
%section.row
  .columns
    %h2 #{page.title}
    %hr
  .columns
    %h3.text-center#instructions
      Press A Key To Display Its Key Code Value
    %h3.text-center#output{style: 'font-size: 8em; line-height: 100%; display: none;'} 0