---
title: Manual Cipher Decoder
layout: general
script: /js/tools/manual-cipher-decoder.js
include_utilities: true
---
%section
  .row
    .columns
      %h2 #{page.title}
    .columns
      %label
        Cipher Input:
        %textarea.monospace#cipher-input{rows: '1'}
    .columns
      %label
        Decoded Output:
        %textarea.monospace#cipher-output{rows: '8'}
    .columns.large-3.medium-4.small-6
      .row
        .columns.large-6.medium-6.small-6
          %label
            Set:
            %input.monospace#assignment-set{maxlength: '1', size: '2', type: 'text'}
        .columns.large-6.medium-6.small-6
          %label
            To:
            %input.monospace#assignment-to{maxlength: '1', size: '2', type: 'text'}
    .columns.large-3.medium-4.small-6
      %label
        Assignments By Frequency:
        %select.monospace#assignments-select
    .columns.large-3.medium-4.small-6
      %label
        Alphabetical Lookup:
        %select.monospace#lookup-select
    .columns.large-3.medium-4.small-6
      %label
        Conflicts:
        %select.monospace#conflicts-select
    .columns.large-3.medium-4.small-6
      %label{for: 'unknown'} Unknowns:
      .row
        .columns.large-6.medium-6.small-6
          %input.monospace#first-unknown{size: '4', type: 'text', value: '~'}
        .columns.large-6.medium-6.small-6
          %input.monospace#second-unknown{size: '4', type: 'text', value: '='}
    .columns.large-3.medium-4.small-6
      %label
        Save/Load Assignments:
        %input.monospace#save-load-assignments{type: 'text', value: ' ,.?!\'" ,.?!\'"'}
      %span#save-load-error.error
  .row
    .columns.large-8.medium-8
      %input#show-hide-unknowns.button{type: 'button', value: 'Show/Hide Unknowns', title: 'Escape'}
      %input#show-hide-instructions.button{type: 'button', value: 'Show/Hide Instructions'}
    .columns.large-4.medium-4
      %label
        Case Sensitive
        %input#case-sensitive{type: 'checkbox'}
    #instructions.columns.display-none
      %hr
      %h3
        Instructions
      %p
        Welcome!
      %p
        This application is designed to make it easy to decode simple one to one ciphers. For example 'clljbw' actually says 'poodle' when 'c' is 'p', 'l' is 'o', 'j' is 'd', 'b' is 'l', and 'w' is 'e'.
      %p
        Allow me to walk you through an example.
      %p
        To begin, paste the following encoded text into the Cipher Input:
      %code
        'Ysfstaupaj!' tysof gdo Kaooh. 'Bdw, fph'g wpa joo, tdsuf...' doyo jdo xypzo pee bsgd i eypbh, ihf, iegoy gdshzshr epy i vshago, jaffohuw tdihrof gdo jaxlotg pe gdo tphnoyjigsph. 'Bdig fp wpa voih xw "Se wpa yoiuuw iyo i Kaooh"? Bdig ysrdg dino wpa gp tiuu wpayjoue jp? Wpa tih'g xo i Kaooh, wpa zhpb, gsuu wpa'no qijjof gdo qypqoy ocivshigsph. Ihf gdo jpphoy bo xorsh sg, gdo xoggoy.'
      %p
        Upon inspecting the encrypted text, the only single letter, lower case word is 'a', so we can immediately assume that 'i' represents 'a'. Type 'i' into 'Set:' and 'a' into 'To:'.
      %p
        Now click on the Assignments select menu. The numbers represent the total occurences of each character in the encrypted text. The letter 'e' is WAY more common than any of the other letters in English. Look at the very top: 'o' occurs 40 times and the next one down occurs 25. It's almost certain that 'o' represents 'e'. Click on it and you will be prompted to change the 'o' value. Set it to 'e'. Tada!
      %p
        Now you can start to look for definite ways to complete a word. Do you see any?  I notice that '~ee' is almost there. 'fee', 'wee', 'bee', 'see'... 'see' is common enough that it will probably end up being correct. To easily find out which letter we want to set to 's', toggle the Toggle Unknowns button on. The letter 'j' appears. We're done with the unknowns for now, let 's toggle it back off again. 'j' -&gt; 's'. The hotkey to Toggle Unknowns is Escape.
      %p
        What's next?  's~e' is almost definitely 'she'. 'd' -&gt; 'h'. Now we're getting somewhere!
      %p
        'he=e' has got to be 'here'. 'y' -&gt; 'r'.
      %p
        '~he' could be be one thing since 's' is taken. 'g' -&gt; 's'.
      %p
        How about '~t'?  'a' is already being used, so it must be 'it'. 's' -&gt; 'i'.
      %p
        I'm going to intentionally make a mistake here to explain how identify when you have made an error.
      %p
        Let's turn '=etter' into 'wetter'. 'x' -&gt; 'w'.
      %p
        '~hat' can only be 'What'. 'b' -&gt; 'w'.
      %p
        Now the 'Conflicts:' select menu has something in it. One of the listed items is incorrect. In this case 'x' -&gt; 'w' makes less sense. Click that option and delete the 'w' value. Notice how 'wetter' becomes '~etter' again. 'x' -&gt; 'b'.
      %p
        'ri~ht' can only be 'right'. 'r' -&gt; 'g'.
      %p
        'What right ha=e =~=' looks like 'What right have =~='. To me 'What right have you' jumps out, and it's fun to take a leap and guess once in a while. 'n' -&gt; 'v', 'w' -&gt; 'y', 'p' -&gt; 'o', &amp; 'a' -&gt; 'u'.
      %p
        Yep, that all seems to have worked!  This is really starting to look like English.
      %p
        'bro=e' seems an awful lot like 'broke'. 'z' -&gt; 'k'.
      %p
        I've been holding off on 'a=ter' in case it might have been 'alter', but it really looks like 'after' now. 'e' -&gt; 'f'.
      %p
        Yep. Next, looking at 'Show Current Value' we can see that 'frow=' and 'begi=' have the same final letter. 'h' -&gt; 'n'.
      %p
        'an='. 'f' -&gt; 'd'.
      %p
        '=inute'. 'v' -&gt; 'm'. '=onversation'. 't' -&gt; 'c'.
      %p
        'Ridicu=ous!'. 'u' -&gt; 'l'.
      %p
        '=ueen'. 'k' -&gt; 'q'. 'sub=ect'. 'l' -&gt; 'j'.
      %p
        'e~amination'. 'c' -&gt; 'x'. And the last three are the same letter. 'q' -&gt; 'p'.
      %p
        And we're done!
      %p
        If at any point you want to save the progress you have made with the assignments and come back to it later copy that text in the Save/Load Assignments text box and save it somewhere locally. Later you can open your browser again, paste it back in, and you are immediately back to where you were!
      %p
        Have fun decoding ciphers.