---
title: Party Letters
layout: full-width
script: /js/tools/party-letters.js
---
%section.row
  .columns
    %h2 #{page.title}
    %hr
  .columns
    %label
      Input:
      %textarea#input{rows: '10'}
    %label
      Output:
      %textarea#output{rows: '10'}