---
title: Party Letters
layout: general
script: /js/tools/party-letters.js
---
%section.row
  .columns
    %h2 #{page.title}
    %hr
  .columns
    %textarea#input{rows: '10'}
    %textarea#output{rows: '10'}