/* Colors */
body, h1, h2, h3, h4, h5, h6 {
  color: #00ff00; }

a, a:hover, a:active, a:focus {
  color: #00ff00;
  text-decoration: underline; }

[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=tel], [type=time], [type=url], [type=color], [type=number], [type=search], select, textarea, .button {
  border-color: #00ff00;
  background-color: rgba(0, 0, 0, 0.9);
  color: #00ff00; }

[type=text]:focus, [type=password]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=week]:focus, [type=email]:focus, [type=tel]:focus, [type=time]:focus, [type=url]:focus, [type=color]:focus, [type=number]:focus, [type=search]:focus, select:focus, textarea:focus, .button:focus, .button:hover {
  border-color: #00ff66;
  background-color: #000000;
  color: #00ff66; }

label {
  color: #00ff00; }

label:hover, input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus {
  color: #00ff66; }

hr {
  color: #00ff00;
  border-color: #00ff00; }

header {
  background-color: #000000; }

section, footer {
  background-color: rgba(0, 0, 0, 0.9); }

code {
  background-color: transparent;
  color: #00ff00;
  border: none; }

/* Spacing */
code {
  display: block;
  margin: 0 2rem 1rem; }

.no-padding, .no-spacing {
  padding: 0; }

.no-margin, .no-spacing {
  margin: 0 auto; }

.small-margin-bottom {
  margin-bottom: 1rem; }

header, section, footer {
  max-width: 1200px;
  margin: 0 auto; }

section {
  padding-top: 1rem; }

/* General */
body {
  background-image: url("../images/background-spyral-continuous.gif");
  background-position: center top;
  background-repeat: repeat;
  background-attachment: fixed; }

ul {
  margin-left: 2rem; }
  ul li {
    list-style-type: square; }

ol li {
  list-style-type: decimal; }

code {
  font-family: monospace;
  font-weight: bold; }

hr {
  border-style: dashed; }

a:hover {
  text-decoration: none; }

.bold {
  font-weight: bold; }

.italics {
  font-style: italic; }

.nowrap {
  white-space: nowrap; }

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: left; }

/* Header */
nav.top {
  padding: 1rem 0; }

nav.top a {
  padding: 1rem 1rem;
  line-height: 4rem; }

@media screen and (max-width: 39.9375em) {
  nav.top a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    line-height: 100%; } }
@media screen and (min-width: 39.9375em) {
  nav.top .left {
    float: left; }

  nav.top .right {
    float: right; } }
/* Footer */
footer {
  text-align: center;
  padding: 1rem 0; }
  footer .trademark {
    font-size: small; }
  footer hr {
    margin-top: 0; }

/* Page Specific */
.portfolio .columns .columns {
  text-align: center;
  min-height: 24rem; }

.experience .columns .columns {
  min-height: 28rem; }

@media screen and (max-width: 39.9375em) {
  .portfolio .columns .columns,
  .experience .columns .columns {
    min-height: auto; } }

/*# sourceMappingURL=app.css.map */
