$fg-hex: #00ff00
$fg-hex-accented: #00ff66
$bg-hex: #000000
$bg-rgba-transparent: rgba(0, 0, 0, 0.9)

$tiny-spacing: 0.2rem
$small-spacing: 1rem
$medium-spacing: 2rem
$large-spacing: 4rem
$huge-spacing: 10rem


/* Colors

body, h1, h2, h3, h4, h5, h6, h3 small
	color: $fg-hex

a, a:hover, a:active, a:focus
	color: $fg-hex
	text-decoration: underline

[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=tel], [type=time], [type=url], [type=color], [type=number], [type=search], select, textarea, .button, input:disabled, input[readonly], textarea:disabled, textarea[readonly]
	border-color: $fg-hex
	background-color: $bg-rgba-transparent
	color: $fg-hex

[type=text]:focus, [type=password]:focus, [type=date]:focus, [type=datetime]:focus, [type=datetime-local]:focus, [type=month]:focus, [type=week]:focus, [type=email]:focus, [type=tel]:focus, [type=time]:focus, [type=url]:focus, [type=color]:focus, [type=number]:focus, [type=search]:focus, select:focus, textarea:focus, .button:focus, .button:hover, input:disabled:focus, input[readonly]:focus, textarea:disabled:focus, textarea[readonly]:focus, input:disabled:hover, input[readonly]:hover, textarea:disabled:hover, textarea[readonly]:hover
	border-color: $fg-hex-accented
	background-color: $bg-rgba-transparent
	color: $fg-hex-accented

label
	color: $fg-hex

label:hover, input:hover, select:hover, textarea:hover, input:focus, select:focus, textarea:focus
	color: $fg-hex-accented

hr
	color: $fg-hex
	border-color: $fg-hex

header
	background-color: $bg-hex

section, footer
	background-color: $bg-rgba-transparent

code
	background-color: transparent
	color: $fg-hex
	border: none

tbody
	background-color: transparent

select
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="32" height="24" viewBox="0 0 32 24"><polygon points="0,0 32,0 16,24" style="fill: rgb(0, 255, 0)"></polygon></svg>')


/* Spacing

code
	display: block
	margin: 0 $small-spacing $small-spacing

.no-padding
	padding: 0

.no-margin
	margin: 0 auto

.no-spacing
	@extend .no-padding
	@extend .no-margin

.small-margin-bottom
	margin-bottom: $small-spacing

header, section, footer
	max-width: 1200px
	margin: 0 auto

section
	padding-top: $small-spacing

.soft-wrap
	white-space: normal


/* General

body
	background-image: url("../images/background-spyral-continuous.gif")
	background-position: center top
	background-repeat: repeat
	background-attachment: fixed

ul, ol
	margin-left: $medium-spacing

ul li
	list-style-type: square

ol li
	list-style-type: decimal

code
	font-family: monospace

hr
	border-style: solid
	border-width: 2px
	border-top: none

a:hover
	text-decoration: none

.bold
	font-weight: bold

.italics
	font-style: italic

.monospace
	font-family: monospace
	font-size: 1.25rem

.nowrap
	white-space: nowrap

.inline
	display: inline

.column:last-child:not(:first-child), .columns:last-child:not(:first-child)
	float: left

.no-border, .no-border tbody
	border: none

.centered
	margin-left: auto
	margin-right: auto

.display-none
	display: none


/* Header

nav.top ul
	float: right
	margin: 0 auto

nav.top li
	float: left
	list-style-type: none

nav.top a
	font-weight: bold
	display: block
	padding: $small-spacing $small-spacing
	text-decoration: none

nav.top a:hover
	text-decoration: underline

@media screen and (max-width:39.9375em)
	nav.top ul
		float: none
	nav.top li
		width: 100%
		text-align: center
		float: none


/* Footer

footer
	text-align: center
	padding: $small-spacing 0

	.trademark
		font-size: small
	
	hr
		margin-top: 0



/* Page Specific

.portfolio .columns .columns
	text-align: center
	min-height: 24rem

.experience .columns .columns
	min-height: 28rem

@media screen and (max-width:39.9375em)
	.portfolio .columns .columns,
	.experience .columns .columns
		min-height: auto