---
title: Everything You Need To Know About Your Website
layout: presentation
background: '/images/presentations/two-by-two-thatch.png'
date: 6-15-16
---
%section#intro
  %h2
    %strong #{page.title}
  %p
    Bennett Roesch
    %br
    #{page.date}
    %br
    %a{:href => "https://spyrosoft.com/"} https://spyrosoft.com/
%section#this-presentation-covers
  %p This presentation covers:
  %ul
    %li Registrars And Hosts
    %li The Beast That Is DNS
    %li The Basic Inner Workings Of The Internet
    %li Programming Languages For Websites
%section#the-internet
  %p
    %strong Let's Talk About The Internet
  %p
    %a{href: 'https://www.youtube.com/watch?v=f99PcP0aFNE'} It Is Tubes
%section#domain-names
  %h2 Domain Names
  %ul
    %li
      Like
      %a{href: 'https://example.com/'} example.com
    %li 
%section#internet-walkthrough-1
  %p When you visit a web page:
  %ul
    %li Your browser takes the domain name from the URL
    %li Queries the internet for the IP Address of the domain name
    %li 
%section#registrars-and-hosts
  %h2 Registrars And Hosts
  %p 